<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カートページ</title>
</head>
<body>
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>
          {{ message }}
      </li>
    {% endfor %}
    </ul>
    {% endif %}
{% if cart %}
      {% for cart_item in cart %}
        <h1>{{ cart_item.item.name }}</h1>
        {% if cart_item.image_url %}
          <img src="{{ cart_item.image_url }}" alt="{{ cart_item.item.name }}" width="200">
        {% else %}
          <p>イメージ画像はありません。</p>
        {% endif %}
        <p>価格: {{ cart_item.item.tax_price }}円(税込)</p>
        <p>個数: {{ cart_item.quantity }}</p>
        <p>小計: {{ cart_item.subtotal }}円</p>
        <a href="{% url 'remove_from_cart' cart_item.item.id %}">商品をカートから削除する</a>
      {% endfor %}
      <hr>
        <h2>合計金額: {{ total_price }}円</h2>

        <a href="{% url 'checkout' %}">注文を確定する</a>
{% else %}
      <h1>カートに商品がありません</h1>
{% endif %}

    <a href="/index/">商品一覧ページに戻る</a>
</body>

</html>