<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カートページ</title>
</head>
<body>
{% if cart %}
      {% for cart_item in cart %}
        <h1>{{ cart_item.item.name }}</h1>
        {% if cart_item.image_url %}
          <img src="{{ cart_item.image_url }}" alt="{{ cart_item.item.name }}" width="200">
        {% else %}
          <p>イメージ画像はありません。</p>
        {% endif %}
        <p>価格: {{ cart_item.item.price }}</p>
        <p>個数 {{ cart_item.quantity }}</p>
        <p>小計 {{ cart_item.subtotal }}円</p>
      {% endfor %}
        <p>合計金額: {{ total_price }}円</p>
{% else %}
      <h1>カートに商品がありません</h1>
{% endif %}

    <a href="/index/">商品一覧ページに戻る</a>
</body>

</html>