<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧ページ</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">ログアウトする</button>
          </form>
        {% endif %}
    </header>
    <h1>商品一覧</h1>
    <ul>
        {% for item in items %}
          <li>
            <h2>{{ item.name }}</h2>
            <h3>価格:{{ item.tax_price }}円(税込)</h3>
            {% if item.image %}
              <img src="{{ item.image.url }}" alt="{{ item.name}}" width="200">
            {% else %}
              <p>イメージ画像はありません</p>
            {% endif %}
            <p><a href="/item/{{ item.id }}/">商品詳細を見る</a></p>
          </li>
        {% endfor %}
    </ul>
</body>
</html>