<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品詳細ページ</title>
</head>
<body>
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>
            {{ message }}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    <h1>商品一覧</h1>
    <h2>{{ item.name }}</h2>
    <p>価格: {{ item.tax_price }}円(税込)</p>
    <p>説明: {{ item.information }}</p>
    {% if item.image %}
      <img src="{{ item.image.url }}" alt="{{ item.name}}" width="200">
    {% else %}
      <p>イメージ画像はありません</p>
    {% endif %}
    <p>在庫数:残り約{{ item.get_stock }}個</p>
    {% if item.get_stock > 0 %}
      <form action="{% url 'add_to_cart' item.id %}" method="post">
        {% csrf_token %}
        <label for="quantity">数量:</label>
        <select name="quantity" id="quantity">
            {% for i in stock_item_range %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit">カートに追加する</button>
      </form>
    {% else %}
      <p>在庫がありません。入荷まで、もう少々お待ちください。</p>
    {% endif %}

    <a href="/cart/">カートの中身を見る</a>
    <a href="/index/">商品一覧ページに戻る</a>
</body>
</html>